name: Video to M3U8 and Deploy

on:
  workflow_dispatch:
    inputs:
      link:
        description: 'Link video cần tải'
        required: true
      name:
        description: 'Tên file để lưu và deploy'
        required: true
      token:
        description: 'Cloudflare API Token'
        required: true
      projectName:
        description: 'Tên project Pages'
        required: true
      accountId:
        description: 'Cloudflare Account ID'
        required: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup FFmpeg
        uses: FedericoCarboni/setup-ffmpeg@v2

      - name: Download video
        run: |
          curl -L "${{ github.event.inputs.link }}" -o "${{ github.event.inputs.name }}.mp4"

      - name: Convert to HLS with .html segments
        run: |
          mkdir -p output
          ffmpeg -i "${{ github.event.inputs.name }}.mp4" \
            -codec copy -start_number 0 -hls_time 10 -start_number 10001 -hls_list_size 0 \
            -hls_segment_filename "output/${{ github.event.inputs.name }}-index%d.png" \
            -f hls "output/${{ github.event.inputs.name }}.m3u8"

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ github.event.inputs.token }}
          accountId: ${{ github.event.inputs.accountId }}
          projectName: ${{ github.event.inputs.projectName }}
          directory: ./output
          branch: ${{ github.event.inputs.name }}


      # Callback khi thành công
      - name: Callback success
        if: success()
        run: |
          curl -G "https://cp.ssplay.net/cf.php" \
            --data-urlencode "type=ok" \
            --data-urlencode "key=${{ github.event.inputs.projectName }}" \
            --data-urlencode "slug=${{ github.event.inputs.name }}"

      # Callback khi lỗi
      - name: Callback error
        if: failure()
        run: |
          curl -G "https://cp.ssplay.net/cf.php" \
            --data-urlencode "type=error" \
            --data-urlencode "slug=${{ github.event.inputs.name }}"
